@font-face {
	font-family: 'DINPro';
	src: url('/fonts/dinpro-regular.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/dinpro-regular.otf')  format('opentype'),
		 url('/fonts/dinpro-regular.woff') format('woff'),
		 url('/fonts/dinpro-regular.ttf')  format('truetype'),
		 url('/fonts/dinpro-regular.svg#DINPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro';
	src: url('/fonts/dinpro-bold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/dinpro-bold.otf')  format('opentype'),
		 url('/fonts/dinpro-bold.woff') format('woff'),
		 url('/fonts/dinpro-bold.ttf')  format('truetype'),
		 url('/fonts/dinpro-bold.svg#DINPro-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'CatalinaAvalonSlab';
	src: url('/fonts/catalina-avalon-slab-bold.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/catalina-avalon-slab-bold.otf')	format('opentype'),
		 url('/fonts/catalina-avalon-slab-bold.woff')	format('woff'),
		 url('/fonts/catalina-avalon-slab-bold.ttf')	format('truetype'),
		 url('/fonts/catalina-avalon-slab-bold.svg#CatalinaAvalonSlabBold') format('svg');
	font-weight: normal;
	font-style: bold;
}
